@font-face {
    font-family: "CenturyGothic";
    src: url("~/assets/fonts/Century-Gothic.woff") format("woff"),
        url("~/assets/fonts/Century-Gothic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}