@import "../../../node_modules/iconsoft-ui-kit/src/themes/make-theme";
@import "../../../node_modules/iconsoft-ui-kit/src/components/check";
@import "../../../node_modules/iconsoft-ui-kit/src/components/radio";
@import "../../../node_modules/iconsoft-ui-kit/src/components/button";
@import "../../../node_modules/iconsoft-ui-kit/src/components/tabs";
@import "../../../node_modules/iconsoft-ui-kit/src/components/form";
@import "../../../node_modules/iconsoft-ui-kit/src/components/input";
@import "../../../node_modules/iconsoft-ui-kit/src/components/select";
@import "../../../node_modules/iconsoft-ui-kit/src/components/table";
@import "../../../node_modules/iconsoft-ui-kit/src/components/typography";
@import "../../../node_modules/iconsoft-ui-kit/src/modifiers/validation";
@import "../../../node_modules/iconsoft-ui-kit/src/modifiers/elevation";
@import "../../../node_modules/iconsoft-ui-kit/src/utils/px2rem";

@font-face {
    font-family: "CenturyGothic";
    src: url("~/assets/fonts/Century-Gothic.woff") format("woff"),
        url("~/assets/fonts/Century-Gothic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

$color-red: #e8423f;
$color-red-40: lighten($color-red, 40%);
$color-orange: #ff8a2b;
$color-orange-40: lighten($color-red, 50%);
$color-gray: #898989;
$color-gray-40: rgba($color-gray, 61%);
$color-gray-100: lighten($color-gray, 40);
$color-blue-gray: #006c79;
$color-blue-gray-40: rgba($color-blue-gray, 61%);
$color-blue: #4ea4f6;
$color-blue-40: lighten($color-blue, 35%);

$font: "CenturyGothic";

$button-ripple-color: rgba(0, 0, 0, 0.15);

@mixin theme {
    // theme name
    .light {
        @include z-elevation();
        @include validation($color-red);

        // Checkbox
        @include check(
            (
                check--primary: (
                    border: px2rem(1) solid $color-gray-40,
                    checked-icon: "~/assets/icons/check.svg",
                    bg-hover: $color-gray-100,
                    size: px2rem(15),
                    font: $font,
                    font-size: px2rem(16),
                    font-color: black,
                ),
                check--secondary: (
                    border: px2rem(1) solid $color-gray-40,
                    checked-icon: "~/assets/icons/check1.svg",
                    bg-hover: $color-gray-100,
                    size: px2rem(15),
                    font: $font,
                    font-size: px2rem(16),
                    font-color: black,
                ),
            )
        );

        .check {
            margin-bottom: px2rem(14);
        }

        // Radio
        @include radio(
            (
                radio--primary: (
                    border: px2rem(1) solid $color-gray-40,
                    border-radius: 50%,
                    checked-icon: "~/assets/icons/radio.svg",
                    bg-hover: $color-gray-100,
                    size: px2rem(15),
                    font: $font,
                    font-size: px2rem(16),
                    font-color: black,
                ),
            )
        );

        .radio {
            margin-bottom: px2rem(14);
        }

        // Select
        @include select(
            (
                select--primary: (
                    bg-color: white,
                    icon: "~/assets/icons/select.svg",
                    icon-size: px2rem(20),
                    m-right: px2rem(16),
                    font-color: black,
                    font-size: inherit,
                    line-height: px2rem(20),
                    padding: px2rem(5) px2rem(8),
                    padding-right: px2rem(24),
                    bg-focused: #f6f6f6,
                    border: px2rem(1) solid #898989,
                    border-focused: px2rem(1) solid #898989,
                    border-radius: px2rem(7),
                ),
            )
        );

        .select {
            margin-bottom: px2rem(14);
        }

        // Table
        @include table(
            (
                table--primary: (
                    main-bg-color: white,
                    main-border: none,
                    font-color: #252f30,
                    cell-border: white,
                    cell-padding: px2rem(8),
                    head-border: none,
                    td-font-size: px2rem(16),
                    th-bg-color: #f6f6f6,
                    td-odd-color: #fcfcfc,
                    th-font-color: #252f30,
                    th-font-size: px2rem(16),
                    th-padding: px2rem(8),
                    font: $font,
                ),
            )
        );
        .table {
            th {
                font-weight: 500;
            }
        }

        // Button
        @include button(
            (
                button--primary: (
                    bg-normal: $color-blue-gray,
                    bg-disabled: $color-gray-40,
                    ripple-color: $button-ripple-color,
                    font-color: white,
                ),
                button--orange: (
                    bg-normal: $color-orange,
                    bg-disabled: $color-orange-40,
                    ripple-color: $button-ripple-color,
                    font-color: white,
                ),
                button--red: (
                    bg-normal: $color-red,
                    bg-disabled: $color-red-40,
                    ripple-color: $button-ripple-color,
                    font-color: white,
                ),
                button--blue: (
                    bg-normal: $color-blue,
                    bg-disabled: $color-blue-40,
                    ripple-color: $button-ripple-color,
                    font-color: white,
                ),
            )
        );

        .button {
            margin: px2rem(8) px2rem(8);
            padding: px2rem(8);
            border-radius: px2rem(10);
            min-width: px2rem(160);
            font-family: $font;
            font-size: px2rem(17);
        }

        // Input
        @include input(
            (
                input--primary: (
                    bg-normal: white,
                    bg-disabled: #e1e1e1,
                    placeholder-color: rgb(66, 66, 66),
                    placeholder-disabled-color: rgb(121, 121, 121),
                    border: px2rem(1) solid #898989,
                    focused-border: px2rem(1) solid #0e8897,
                ),
            )
        );

        .input {
            margin-bottom: px2rem(14);

            .input-label {
                margin-bottom: px2rem(14);
            }

            input {
                min-height: px2rem(18);
                border-radius: px2rem(7);
                padding: px2rem(5) px2rem(8);
                transition: all 0.1s ease-in-out;
            }

            .input-label {
                margin-bottom: px2rem(12);
            }
        }

        // Form
        @include form(
            (
                form--primary: (
                    bg-color: white,
                    font: $font,
                    font-size: px2rem(16),
                    font-color: black,
                ),
            )
        );

        .form {
            padding: px2rem(16) px2rem(28);
            margin: px2rem(12) px2rem(24);
            border-radius: px2rem(15);
        }
    }

    // Tabs
    @include tabs(
        (
            tabs--primary: (
                border-bottom: 1px solid #c2c2c2,
                item-border-weight: px2rem(4),
                min-width: px2rem(150),
                padding: px2rem(8) px2rem(14),
                color-hover: #006c79,
                color-selected: #006c79,
                color-inactive: rgb(85, 85, 85),
            )
        )
    );

    .root.light {
        transition: all 0.1s ease-in-out;
        background-color: #e9e9e9;
    }

    .label {
        margin-bottom: px2rem(12);
    }
}

@include theme();
