@import '../../../../../../../node_modules/@iconsoft/ui-kit/src/utils/px2rem';
@import '../../../components/lazy-block';
@import '../abstracts';
@import '../base';

@mixin lazy-block-theme {
    @include lazy-block(
        (
            lazy-block--primary: (
                title-color: #2949ff,
                content-color: $color-gray-40,
            ),
        )
    );

    .lazy-block {
        .lazy-block__title {
            font-weight: 500;
        }
    }
}
