@import "../../../../../node_modules/@iconsoft/ui-kit/src/components/busy-indicator";
@import "../../../../../node_modules/@iconsoft/ui-kit/src/utils/px2rem";
@import "../../../modules/root/themes/light/abstracts";

@mixin busy-indicator-light-theme {
    @include busy-indicator(
        (
            busy-indicator--primary: (
                overlay-bg: rgba(255, 255, 255, 1),
                fixed-bg: transparent,
                thumb-color: $color-blue-gray,
                thumb-size: px2rem(20),
            ),
        )
    );
}
